{% extends "index.html" %}
{% macro console(consoleId) -%}
  <div id="console{{consoleId}}">
    <br>        prediction: undefined<br>
    <br>        probability: undefined<br>
  </div>
{%- endmacro %}

{% macro buttonPanel(buttonGroupNumber, numberOfClasses) -%}
  <div id="buttonPanel">
    <p>Add classes in order, A initilizes the classes</p>
    {% for buttonIndex in range(1, 1+numberOfClasses|int) %}
      {{ buttonNameLabelText(buttonIndex, buttonGroupNumber) }}
      {% endfor %}
  </div>
{%- endmacro %}

{% macro knnConsole(consoleNumber, numberOfClassesFromURI=4) -%}
  {{ console(consoleNumber) }}
  {{ buttonPanel(consoleNumber, numberOfClassesFromURI) }}
{%- endmacro %}

{% macro buttonNameLabelText(postfixNumber, buttonGroupNumber) -%}
  <div id="buttonset{{buttonGroupNumber}}-{{postfixNumber}}">
    <input id="text{{buttonGroupNumber}}-{{postfixNumber}}" size="5" value="{{postfixNumber}}"></input>
    <button id="class{{buttonGroupNumber}}-{{postfixNumber}}">Add {{postfixLetter}}</button>
    <label id="label{{buttonGroupNumber}}-{{postfixNumber}}"></label>
  </div>
{%- endmacro %}

{% macro simpleUsageDescription() -%}
  <br />
  <p>To utilize the lower classifier you need to classify at least two different classes for both top layer models</p>
  <br />
{%- endmacro %}
