{% extends "index.html" %}
{% macro console(consoleId) -%}
  <div id="console{{consoleId}}">
    <br>        prediction: undefined<br>
    <br>        probability: undefined<br>
  </div>
{%- endmacro %}

{% macro buttonPanel(buttonGroupNumber) -%}
  <div id="buttonPanel">
    <p>Add classes in order, A initilizes the classes</p>
    {{ buttonNameLabelText(1, buttonGroupNumber) }}
    {{ buttonNameLabelText(2, buttonGroupNumber) }}
    {{ buttonNameLabelText(3, buttonGroupNumber) }}
    {{ buttonNameLabelText(4, buttonGroupNumber) }}
  </div>
{%- endmacro %}

{% macro knnConsole(consoleNumber) -%}
  {{ console(consoleNumber) }}
  {{ buttonPanel(consoleNumber ) }}
{%- endmacro %}

{% macro buttonNameLabelText(postfixNumber, buttonGroupNumber) -%}
  <div id="buttonset{{buttonGroupNumber}}-{{postfixNumber}}">
    <input id="text{{buttonGroupNumber}}-{{postfixNumber}}" size="5" value="{{postfixNumber}}"></input>
    <button id="class{{buttonGroupNumber}}-{{postfixNumber}}">Add {{postfixLetter}}</button>
    <label id="label{{buttonGroupNumber}}-{{postfixNumber}}"></label>
  </div>
{%- endmacro %}

{% macro simpleUsageDescription() -%}
  <br />
  <p>To utilize the lower classifier you need to classify at least two different classes for both top layer models</p>
  <br />
{%- endmacro %}
